@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-bunny-red: #1581bf;

  --animate-appear: appear 0.2s linear forwards;
  --animate-disappear: disappear 0.2s linear forwards;

  @keyframes appear {
    from {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    to {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  @keyframes disappear {
    from {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
    to {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

@layer utilities {
  .flex-center {
    @apply justify-center items-center;
  }

  .custom-scrollbar {
    scroll-behavior: smooth;
    scrollbar-color: #1581bf transparent;
  }
}

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
